<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EUAir ID Registration</title>
   <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.4v2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-3.3.4v2/dist/css/bootstrap.css" rel="stylesheet">
<!--     <link href="/static/bootswatch/bootstrap.css" rel="stylesheet">
 --><!--   <link rel="stylesheet" href="/static/bower_components/bootstrap-table/src/bootstrap-table.css">
 -->
<!-- <link href="data:text/css;charset=utf-8," data-href="/static/bootstrap-3.3.4/dist/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
 -->
<link href="../static/bootstrap-3.3.4/docs/assets/css/docs.min.css" rel="stylesheet">
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!--  <script src="/static/bootstrap-3.3.4/dist/js/bootstrap.js"></script>
     <script src="/static/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script> -->


<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
 -->

<!-- Bootstrap CSS v3.0.0 or higher -->

<!-- FormValidation CSS file -->
<!-- <link rel="stylesheet" href="/static/formvalidation-dist-v0.6.3/dist/css/formValidation.min.css">
<link rel="stylesheet" href="/static/formvalidation-dist-v0.6.3/dist/css/formValidation.css">
 -->
<!-- jQuery v1.9.1 or higher -->
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.js"></script>
<!-- <script src="/static/formvalidation-dist-v0.6.3/dist/js/framework/bootstrap.min.js"></script>
 -->

<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<!-- <script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.min.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.popular.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.popular.min.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/framework/bootstrap.min.js"></script>
 -->

<!-- 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

 -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
 -->
 <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.js"></script>

<!-- Latest compiled and minified Locales -->

    <script src="../static/bootstrap-3.3.4/docs/assets/js/ie-emulation-modes-warning.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-146052-10', 'getbootstrap.com');
  ga('send', 'pageview');
</script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/bootstrap-3.3.4/docs/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 -->

  <script src="../static/bootswatch/bootswatch.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/bootstrap-3.3.4/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/bower_components/readmore/readmore.min.js"></script>

    <script src="../static/bootstrap-3.3.4/js/tooltip.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<!--   <img src="/static/myfiles/img/LHheader.png" width="100%">
 -->
 <br>
 <br>

<div class="container bs-docs-container">
  <div class = "row">
    <div class = "col-md-9" role = "main">
      <h1 id = "terms-of-service" class="page-header">
        Terms and conditions for EUAir websites
      </h1>
      <p>
        These are the terms and conditions for all the websites operated by EUAir.
      </p>

      <h4 id = "general" class="page-header">
        General
      </h4>
      <p>
          The Lufthansa-website is operated by Deutsche Lufthansa AG, Von-Gablenz-Strasse 2-6, 50679 Cologne, (hereafter referred to as 'Lufthansa').
      </p>
      <p>
        Please review these terms and conditions carefully before using our website. Your use of the Lufthansa-website indicates your agreement to be bound by these terms and conditions.
      </p>
      <p>
        These terms and conditions also then apply when you use the Lufthansa-website or areas of it from other internet sites which provide access to the Lufthansa-website in full or in part.
      </p>
      <h4 id = "proprietary-rights" class="page-header">
        Proprietary rights
      </h4>
      <p>
        All trademark rights, copyright, database rights and other intellectual property rights to the contents of the Lufthansa-website, (as well as the organisation and layout of the website), together with the underlying software code, rest either with Deutsche Lufthansa AG or with its licensors. You may not, either in whole or in part, copy, modify, distribute or use or reproduce in other form contents of the Lufthansa-website, or the underlying software code, without the prior written consent of Deutsche Lufthansa AG.
      </p>

      <h4 id = "permissible-use" class="page-header">
        Permissible use
      </h4>
      <p>
        All Lufthansa-website online services (including the booking machine) are provided solely for the purpose of enabling you to check the availability of goods or services relating to your journey (the timetable, for example); make legitimate reservations; use our online check-in or transact other business with suppliers. You may only use the website in accordance with these terms and conditions and for the legally permitted purposes described above. In particular, you indicate your agreement to the following:
      </p>

      <ol>
        <li>You may not use the Lufthansa-website in a manner which causes an infringement of the proprietary rights of others</li>
        <li>
          You may not utilise any devices, mechanisms, software or other scripts which could interfere with the working of the Lufthansa-website. This also includes uploading files infected with viruses.

        </li>
        <li>
          You may not take any action which could result in an unreasonable or excessive load on the Lufthansa infrastructure.

        </li>
        <li>
          You may not block, overwrite or modify any Lufthansa-generated content or in other way disrupt the Lufthansa-website.

        </li>
        <li>
          You may not reproduce information from the Lufthansa-website for commercial purposes. This also includes providing prices for Lufthansa flights on another website or another online server. In particular you may not copy, distribute, in other way use or reproduce discarded content from the Lufthansa-website with the help of 'robots', other search machine technologies or through other automatic mechanisms.

        </li>
        <li>
          You may not acquire, or attempt to acquire, any unauthorised access to any of our networks, by whatever means.

        </li>
        <li>
          You may not make any unauthorised, false or fraudulent bookings, in particular any bookings which are paid for with credit cards or bank account details belonging to a third party who has not consented to this.

        </li>
      </ol>


      <h4 id = "consequences-of-improper-use" class="page-header">
        Consequences of improper use
      </h4>
      <p>
      Without prejudice to our other rights (irrespective of whether they are based on law or other regulations), we reserve the right to cancel your booking without reference to you and/or to deny you access to the Lufthansa-website if you have contravened these terms and conditions.
      </p>
      <h4 id = "change-to-this-website" class="page-header">
        Changes to this website
      </h4>
      <p>
        We reserve the right, at any time and without prior notice, to undertake improvements or modifications in respect of the information, services, products and other contents of the Lufthansa-website.
      </p>
      <h4 id = "links-to-other-websites" class="page-header">
        Links to other websites
      </h4>
      <p>
        This website may contain links or references to other websites which are not operated by Lufthansa. Unless otherwise specified, we do not endorse any of these other websites and expressly disassociate ourselves herewith from all contents of these sites. This declaration applies to all links to external sites covered by Lufthansa and to all the contents of these sites to which these links lead.

      </p>
      <p>
        We reserve the right to make the link to other websites contingent upon our express written consent and to withdraw our consent to a link at any time.

      </p>
      <h4 id = "legal-disclaimer" class="page-header">
        Legal disclaimer
      </h4>
      <p>
        Lufthansa accepts no liability whatsoever for the topicality, accuracy, completeness or quality of the information provided by third parties (e.g. co-operation partners, tour operators, airport operators, website users). Claims for liability against Lufthansa relating to damages of a material or non-material kind, which were caused by usage or non-usage of the information presented, are precluded, provided that there is no negligence or fraudulent misrepresentation on Lufthansa’s part.
      </p>

      <h4 id = "storage-of-IP-adress" class="page-header">
        Storage of IP-addresses
      </h4>
      <p>
      When you visit the Lufthansa-website, our web server automatically saves the IP-address of your Internet Service Provider, the website you are visiting us from, the web pages that you visit on our site and the date and duration of the visit. In the event of infringements of these terms and conditions, we will keep the stored IP-address to use in pursuance of civil law claims and for the resolution of criminal offences.
      </p>

    </div>
    <div class = "col-md-3" role = "complementary">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
          <li>
            <a href="#terms-of-service">Terms of Service</a>
            <ul class="nav">
              <li><a href="#general">General</a></li>
              <li><a href="#proprietary-rights">Proprietary right</a></li>
              <li><a href="#permissible-use">Permissible use</a></li>
              <li><a href="#consequences-of-improper-use">Consequences of improper use</a></li>
              <li><a href="#change-to-this-website">Changes to this website</a></li>
              <li><a href="#links-to-other-websites">Links to other websites</a></li>
              <li><a href="#legal-disclaimer">Legal disclaimer</a></li>
              <li><a href="#storage-of-IP-adress">Storage of IP-addresses</a></li>
            </ul>
          </li>

        </ul>
        <a class="back-to-top" href="#top">
          Back to top
        </a>

        <a href="#" class="bs-docs-theme-toggle" role="button">
          Preview theme
        </a>
        
      </nav>
    </div>
  </div>

  
</div>


<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>





