<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EUAir ID Registration</title>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 </head>

  <body>
 <br>
 <br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <br>
  <br>
  <div>
    <div>
          <h3 class="form-signin-heading">
            Sign up for EUAir ID today -- it’s free!
          </h3>
          <p>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">What are the <b>benefits</b> of EUAir ID?</a>
          </p>
          
        <div class="collapse" id="collapseExample">
          <div>
            <p>EUAir ID is our first venture into offering customer-focused personalization across everything EUAir! With an EUAir ID you can:
            </p>
            <div>
              <ul style="list-style-type:circle">
                <li>View and manage all of your planned flights and flight history</li>
                <li>Book flights with a single click with the pre-filled information</li>
                <li>Receive a personalized EUAir newsletter</li>
                <li>Receive exclusive deals on flights</li>
                <li>Be the first to hear about affordable flights to dream destinations</li>
                <li>Have the ability to upgrade your account to take advantage of our frequent flyer program (or integrate your current frequent flyer account!)</li>
                <li>Accessible in all digital touchpoints – web page, mobile web page, phone, tablet, smartwatch apps and In-flight entertainment.</li>
                <li>... And much more!</li>
              </ul>
            </div>
            <p>EUAir ID can only provide these benefits by collecting, storing, and processing your personal information. To create an EUAir ID account we require only a valid email address. If you want more from your EUAir ID you can opt-in to additional benefits (which may require additional personal information) at your choosing from the privacy preference panel.</p>    
          </div>
        </div>
        </div>
  </div>
  <div class = "row">
    <div class = "col-md-2">
      
    </div>
    <div class = "col-md-8">
      <form class="form-signin">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
          <br>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
          <br>

          <label for="inputPassword" class="sr-only">Confirm Password</label>
          <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password">
          <br>   

        <div class="checkbox">
          <label>
            <input type="checkbox" value="send-email"> 
            <span class = "more">
              I would like to receive personalized email communications from EUAir and its partner airlines. These emails will contain business offers and marketing materials tailored to your preferences and interests such as the EUAir newsletter. Another example would be an offer for a cheap flight to one of your dream destinations. All emails will be sent to the email address provided above. You can choose to stop receiving emails or modify your preferences whenever you like from your EUAir ID privacy preference panel. Please note that your email address may be shared with our partner airlines.
            </span> 
          </label>
        </div>

        <div>
          <div>
            By clicking "Submit", you are agreeing to both EUAir's <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/terms-of-use.html">Terms of Service</a> and <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/privacy-policy.html">Privacy Policy</a>.
            <div>
              
              <b>Below are some important highlights from our Terms of Service and Privacy Policy:</b>
              <div>
                <a data-toggle="collapse"  href="#cookies" aria-expanded="false" aria-controls="cookies">Cookies</a>
                <div class="collapse" id = "cookies">
                  <div class="well">
                  EUAir.com uses cookies to recognize you and personalize EUAir.com. When you visit EUAir.com a cookie may (depending on your browser settings) be saved to your computer. This cookie allows us to recognize you on subsequent visits and provide a more tailored and pleasant browsing experience. 
                  </div> 
                </div>                
              </div>
              <div>
                <a data-toggle="collapse"  href="#encryption" aria-expanded="false" aria-controls="encryption">Encryption (SSL)</a>
                <div class="collapse" id = "encryption">
                  <div class="well">
                    Anytime you send data to EUAir.com the communication is encrypted using SSL. This means that only you and EUAir.com can see the conversation. This protects your personal data and all your other information (address, travel plans, etc) from being disclosed to unwanted or unknown parties. Everything you do on EUAir.com stays between you and EUAir.
                  </div> 
                </div>                
              </div>


              <div>
                <a data-toggle="collapse"  href="#data-sharing" aria-expanded="false" aria-controls="data-sharing">Data Sharing Practices</a>
                <div class="collapse" id = "data-sharing">
                  <div class="well">
                    We value your privacy and try to limit our data sharing. We do not share your data with third parties. However, EUAir is required to share passenger data with many destination countries. This data can be thought of as being similar to what a passport would contain. In the case of the United States specifically, all transfers fall under Safe Harbor. The Transportation Security Administration (TSA) requires that passengers provide their full name, date of birth, and gender for the purpose of watchlist screening and security. EUAir must also comply with any government requests to access personal data, if such requests are performed through proper legal frameworks. 
                  </div> 
                </div>                
              </div>

              <div>
                <a data-toggle="collapse"  href="#data-collection-storage" aria-expanded="false" aria-controls="data-collection-storage">Data Collection and Processing Practices</a>
                <div class="collapse" id = "data-collection-storage">
                  <div class="well">
EUAir collects any personal data provided by you. For instance, the data provided by you during registration or while booking a flight is collected by EUAir. EUAir.com will also log your IP address for the purposes of analytics and pursuing civil law claims. These analytics are only performed using anonymous, aggregate data. You can place a request to view your information at any time and correct the data should it be incorrect in some way.
                  </div> 
                </div>                
              </div>

              <div>
                <a data-toggle="collapse"  href="#click-behavior-tracking" aria-expanded="false" aria-controls="click-behavior-tracking">Click Behavior Tracking</a>
                <div class="collapse" id = "click-behavior-tracking">
                  <div class="well">
We track the time you spend on a webpage, where you click on the webpage, the previous page from which you arrived on the current webpage, the next webpage that you browsed after the current webpage, your country (from your IP Address), your time of visiting the webpage and the platform from which you browsed the webpage (mobile or PC). Also, the offers displayed to you will be accompanied by a "like" button. If you click the "like" button, it will be recorded by our servers. This will help us better understand your preferences in order to provide you with better offers.
                  </div> 
                </div>                
              </div>
           
              <div>
                <a data-toggle="collapse"  href="#email-behavior-tracking" aria-expanded="false" aria-controls="email-behavior-tracking">Email Behavior Tracking</a>
                <div class="collapse" id = "email-behavior-tracking">
                  <div class="well">
The emails that you receive from us will include trackers to track whether you opened the email or ignored it, whether you clicked on the link in the email or not, and the time when you opened the email. This will help us better understand when to send you the emails as well as the content that you would like to see in the emails.
                  </div> 
                </div>                
              </div>
           


            </div>

          </div>
          <br>
          <br>
        </div>

        <div>
          <div class = "row">
            <div class = "col-md-6">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
            </div>
            <div class = "col-md-6">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <br>
            <br>
            <br>
          </div>
        </div>
        
      </form>        
    </div>
    <div class = "col-md-2">

    </div>
  </div>



      </div>
  <div class="col-md-3"></div>
</div>


<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>



