<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EUAir ID Registration</title>
   <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </head>
  <body>
<!--   <img src="/static/myfiles/img/LHheader.png" width="100%">
 -->
 <br>
 <br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <br>
  <div>
    <div>
          <h3 class="form-signin-heading">
            Sign up for EUAir ID today -- it’s free!
          </h3>
          <p>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">What are the <b>benefits</b> of EUAir ID?</a>
          </p>
          
          <div class="collapse" id="collapseExample">
            <div>
                <ul style="list-style-type:circle">
                  <li>View and manage all of your planned flights and flight history</li>
                  <li>Book flights with a single click with the pre-filled information</li>
                  <li>Receive a personalized EUAir newsletter</li>
                  <li>Receive exclusive deals on flights</li>
                  <li>Be the first to hear about affordable flights to dream destinations</li>
                  <li>Have the ability to upgrade your account to take advantage of our frequent flyer program (or integrate your current frequent flyer account!)</li>
                  <li>Accessible in all digital touchpoints – web page, mobile web page, phone, tablet, smartwatch apps and In-flight entertainment.</li>
                  <li>... And much more!</li>
                </ul>
              </div>
              <p>
                EUAir ID can only provide these benefits by collecting, storing, and processing your personal information.
              </p>    
            </div>

        </div>
  </div>
  <div class = "row">
    <div class = "col-md-2">
<!--       <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Right</button>
 -->    </div>
    <div class = "col-md-8">
      <form class="form-signin">


            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>

          <br>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
          <br>

          <label for="inputPassword" class="sr-only">Confirm Password</label>
          <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password">
          <br>   
        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="send-email"> I would like to receive emails about all the exclusive benefits and offers provided by EUAir and EUAir’s partner airlines. You can choose to stop receiving these emails whenever you like from your EUAir ID privacy preference panel.
          </label>
        </div>
        <div>
          <div>
            By clicking "Submit", you are agreeing to both EUAir's <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/terms-of-use.html">Terms of Service</a> and <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/privacy-policy.html">Privacy Policy</a>.
            
            <p>
              EUAir collects any information you provide during registration, while booking a flight, or to other services/processes on our website. We do not share this information with third parties, but we are required to share certain information with destination countries or governments. EUAir.com also utilizes cookies to provide a personalized browsing experience and to recognize you on subsequent visits. Please review our <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/terms-of-use.html">Terms of Service</a> and <a href="http://cups.cs.cmu.edu/~chunyued/mockups/templates/privacy-policy.html">Privacy Policy</a>. These documents can help answer any questions you have about how we collect, store, process, and share your personal information. 
            </p>

          </div>
        </div>
        <div>
          <div class = "row">
            <div class = "col-md-6">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Cancel</button>
            </div>
            <div class = "col-md-6">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
          </div>
        </div>
        
      </form>        
    </div>
    <div class = "col-md-2">

    </div>
  </div>



      </div>
  <div class="col-md-3"></div>
</div>


  </body>
</html>





