{% extends 'base.html' %}
{% block main%}
<div class="container bs-docs-container">
  <div class = "row">

    <div class = "col-md-9" role = "main">
      <div class="bs-docs-section">
        <h2>
          Customize your Lufthansa services
        </h2>
        <p>
          As a Lufthansa ID user, there are lots of benefits available to you. Could you give Lufthansa your permissions to use personal data and communicate offers, so Lufthansa is able to bring more benefits to you. 
        </p>
        <h3 id = "benefits-and-permissions">Benefits and Permissions</h3>
        <table class="table table-striped table-hover" data-click-to-select="true">
          <thead>
            <tr>

              <th data-field="state" data-checkbox="true">
              <div class = "th-inner">
                <input name="btSelectAll" type="checkbox">
              </div>
                
              </th>
              <th data-field="services"><h4><b>Lufthansa services</b></h4></th>
              <th data-field="permissions"><h4><b>Permissions required</b></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class = "bs-checkbox">
              <input type = "checkbox">
                <!-- <div class="checkbox">
                  <label>
                    <input type="checkbox">

                  </label>
                </div> -->
              
              </th>
              <td class = "col-md-6">
                <h5 id = "personalized-email"><b>Personalized Email</b></h5>
                <p>
                 Receive the Lufthansa newsletter and other commercial Email, such as: the latest bargain flight offers, insider tips on the best travel destinations, information about Lufthansa and Miles & More news. You can manage Emails frequency and topics on this page.
                </p>
              </td>
              <td class = "col-md-6">
                <h5> &nbsp</h5>
                <div>
                  <ul>
                    <li>Web tracking of click behaviour</li>
                    <li>Tracking of Email behavior</li>
                    <li>Current booking and booking history tracking</li>
                    <li>Ancillary products purchase history</li>
                    <li>To analyze, save and use tracked and personal date</li>

                  </ul>  
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
              </th>
              <td class = "col-md-6">
                <h5 id = "personalized-cockpit-booking"><b>Personalized Cockpit Booking</b></h5>
                <p>
                 You can book cockpit right after your booking process. Based on your previous behavior and preferences, Lufthansa provides more relevent offers to you. 
                </p>
              </td>
              <td class = "col-md-6">
              <h5> &nbsp</h5>
                <div>
                  <ul>
                    <li>Web tracking of click behaviour</li>
                    <li>Current booking and booking history tracking</li>
                    <li>Ancillary products purchase history</li>
                    <li>To analyze, save and use tracked and personal date</li>
                  </ul>  
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
              </th>
              <td class = "col-md-6">
                <h5 id = "personalized-homepage"><b>Personalized Homepage</b></h5>
                <p>
                 Curstomized your homepage based on your profile. Additionaly, Lufthansa provides personalized product offers for you. For instance: on the homepage, the flight information will be autofilled based on your preferences. 
                </p>
              </td>
              <td class = "col-md-6">
              <h5> &nbsp</h5>
                <div>
                  <ul>
                    <li>Web tracking of click behaviour</li>
                    <li>Current booking and booking history tracking</li>
                    <li>Location tracking (IP enabled or in -app)</li>
                    <li>Ancillary products purchase history</li>
                    <li>To analyze, save and use tracked and personal date</li>
                  </ul>  
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
              </th>
              <td class = "col-md-6">
                <h5 id = "airport-service-through-mobile"><b>Personalized Mobile Airport Service</b></h5>
                <p>
                When you are using Lufthansa's Mobile Application at Airport, you can easier and faster login and enjoy the benefits of Mobile Airport Service. Lufthansa's mobile application can provide customised "Next Action" recommendation under preferences, such as baby-care rooms, pray/religion rooms, lounges, ATMs, vouchers.
                </p>
              </td>
              <td class = "col-md-6">
              <h5> &nbsp</h5>
                <div>
                  <ul>
                    <li>Web tracking of click behaviour</li>
                    <li>Current booking and booking history tracking</li>
                    <li>Location tracking (IP enabled or in -app)</li>
                    <li>Ancillary products purchase history</li>
                    <li>To analyze, save and use tracked and personal date</li>
                  </ul>  
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
              </th>
              <td class = "col-md-6">
                <h5 id = "convinient-cash-upgrade"><b>Convinient Cash Upgrade</b></h5>
                <p>
                 Access to Cash Upgrade service faster. The Cash Upgrade offers are in Booking Cockpit and Pre-Flight email after your initial booking. 
                </p>
              </td>
              <td class = "col-md-6">
              <h5> &nbsp</h5>
                <div>
                  <ul>
                    <li>Current booking and booking history tracking</li>
                    <li>To analyze, save and use tracked and personal date</li>
                  </ul>  
                </div>
              </td>
            </tr>

          </tbody>
        </table>
   
        <h3 id = "preferences">Preferences</h3>
        <form class="form-horizontal">
          <div class = "row">


            <div class = "col-md-6">
              <div class="form-group">
                <label id = "dream-destination" class="control-label">Dream Destination</label>
                <input class="form-control"  type="text" placeholder="Which city do you frequently need to visit?">
              </div>

            </div>        
            <div class="col-md-1">
              
            </div>
            <div class = "col-md-5">
              <div class="form-group">
                <label id = "email-frequency"class="control-label">Email Frequency</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Never
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Once or Twice per month
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                      3 to 5 times per month
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                      6 to 10 times per month
                    </label>
                  </div>  
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
                      More than 10 times per month
                    </label>
                  </div>  

                </div>

            </div>


          </div>
          <div class="form-group" align="right">
            <div>
              <button type="reset" class="btn btn-lg btn-default">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>


    </div>
    <div class = "col-md-3" role = "complementary">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
                
          <li>
            <a href="#benefits-and-permissions">Benefits and Permissions</a>
            <ul class="nav">
              <li><a href="#personalized-email">Personalized Email</a></li>
              <li><a href="#personalized-cockpit-booking">Personalized Cockpit Booking</a></li>
              <li><a href="#personalized-homepage">Personalized Homepage</a></li>
              <li><a href="#airport-service-through-mobile">Airport Service Through Mobile</a></li>
              <li><a href="#convinient-cash-upgrade">Convinient Cash Upgrade</a></li>
            </ul>
          </li>
          <li>
            <a href="#preference">Preference</a>
            <ul class="nav">
              <li><a href="#dream-destination">Dream Destination</a></li>
              <li><a href="#email-frequency">Email Frequency</a></li>
            </ul>
          </li>

        </ul>
        <a class="back-to-top" href="#top">
          Back to top
        </a>
        
        <a href="#" class="bs-docs-theme-toggle" role="button">
          Preview theme
        </a>
        
      </nav>
    </div>
    <br>
    <br>
    <br>

  </div>
</div>
{% endblock %}