<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Table Examples</title>

  <!-- Bootstrap CSS v3.0.0 or higher -->
<link rel="stylesheet" href="/static/bootstrap-3.3.4/dist/css/bootstrap.min.css">

<!-- FormValidation CSS file -->
<link rel="stylesheet" href="/static/formvalidation-dist-v0.6.3/dist/css/formValidation.min.css">
<link rel="stylesheet" href="/static/formvalidation-dist-v0.6.3/dist/css/formValidation.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css">

<!-- jQuery v1.9.1 or higher -->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="/static/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>

<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.min.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.popular.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/formValidation.popular.min.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/framework/bootstrap.min.js"></script>
<script src="/static/formvalidation-dist-v0.6.3/dist/js/framework/bootstrap.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
    <![endif]-->
</head>
<body>



</body>
</html>