<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EUAir ID Terms Of Services</title>
   <!-- Bootstrap core CSS -->


<link rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
<!--   <img src="/static/myfiles/img/LHheader.png" width="100%">
 -->
 <br>
 <br>

<div class="container bs-docs-container">
  <div class = "row">
    <div class = "col-md-9" role = "main">
      <h1 id = "terms-of-service" class="page-header">
        Terms and conditions for EUAir websites
      </h1>
      <p>
        These are the terms and conditions for all the websites operated by EUAir.
      </p>

      <div>
        <p>EUAir ID is our first venture into offering customer-focused personalization across everything EUAir! With an EUAir ID you can:
        </p>
        <div>
          <ul style="list-style-type:circle">
            <li>View and manage all of your planned flights and flight history</li>
            <li>Book flights with a single click with the pre-filled information</li>
            <li>Receive a personalized EUAir newsletter</li>
            <li>Receive exclusive deals on flights</li>
            <li>Be the first to hear about affordable flights to dream destinations</li>
            <li>Have the ability to upgrade your account to take advantage of our frequent flyer program (or integrate your current frequent flyer account!)</li>
            <li>Accessible in all digital touchpoints – web page, mobile web page, phone, tablet, smartwatch apps and In-flight entertainment.</li>
            <li>... And much more!</li>
          </ul>
        </div>
          <p>EUAir ID can only provide these benefits by collecting, storing, and processing your personal information. To create an EUAir ID account we require only a valid email address. If you want more from your EUAir ID, you can opt-in to additional benefits (which may require additional personal information) at your choosing from the privacy preference panel.</p>   
      </div>




      <h4 id = "Cookies" class="page-header">
        Cookies
      </h4>
      <p>
        The EUAir website uses cookies to recognize you and personalize the website. When you visit the home page a cookie may (depending on your browser settings) be saved to your computer. This cookie allows us to recognize you on subsequent visits and provide a more tailored and pleasant browsing experience. 
      </p>
      <h4 id = "Encryption" class="page-header">
        Encryption (SSL)
      </h4>
      <p>Anytime you send data to the EUAir website the communication is encrypted using SSL. This means that only you and the EUAir website can see the conversation. This protects your personal data and all your other information (address, travel plans, etc) from being disclosed to unwanted or unknown parties. Everything you do on EUAir stays between you and EUAir.</p>

      <h4 id = "Data-sharing-practice" class="page-header">
        Data Sharing Practices
      </h4>
      <p>
        We value your privacy and try to limit our data sharing. We do not share your data with third parties. However, EUAir is required to share passenger data with many destination countries. This data can be thought of as being similar to what a passport would contain. In the case of the United States specifically, all transfers fall under Safe Harbor. The Transportation Security Administration (TSA) requires that passengers provide their full name, date of birth, and gender for the purpose of watchlist screening and security. EUAir must also comply with any government requests to access personal data, if such requests are performed through proper legal frameworks.       </p>

      <h4 id = "Data-Collection-and-Processing-Practices" class="page-header">
        Data Collection and Processing Practices
      </h4>
      <p>
EUAir collects any personal data provided by you. For instance, the data provided by you during registration or while booking a flight is collected by EUAir. EUAir website will also log your IP address for the purposes of analytics and pursuing civil law claims. These analytics are only performed using anonymous, aggregate data. You can place a request to view your information at any time and correct the data should it be incorrect in some way.
      </p>
      
                    
      <h4 id = "Click-Behavior-Tracking" class="page-header">Click Behavior Tracking</h4>
      <p> We track the time you spend on a webpage, where you click on the webpage, the previous page from which you arrived on the current webpage, the next webpage that you browsed after the current webpage, your country (from your IP Address), your time of visiting the webpage and the platform from which you browsed the webpage (mobile or PC). Also, the offers displayed to you will be accompanied by a "like" button. If you click the "like" button, it will be recorded by our servers. This will help us better understand your preferences in order to provide you with better offers.</p>

      <h4 id = "Email-Behavior-Tracking" class="page-header">Email Behavior Tracking</h4>
      <p>The emails that you receive from us will include trackers to track whether you opened the email or ignored it, whether you clicked on the link in the email or not, and the time when you opened the email. This will help us better understand when to send you the emails as well as the content that you would like to see in the emails.</p>

      <h4 id = "Limitations-on-use-and-disclosure-of-personal-data" class="page-header">Limitations on Use and Disclosure of Personal Data</h4>
      <p>
      EUAir will process and use your personal data only in connection with services related to the EUAir website and the EUAir newsletter. This enables us to offer you a customized service and/or can also save you from having to enter the same information twice. We only utilize as much information as is necessary.

      We will not share your personal data with third parties. Any partner services offered on EUAir are booked directly with these partners. You will be advised of this accordingly. 

      Some of our services, give you the opportunity to store personal information. Such information will only be used to respond to your current inquiry. After your inquiry is closed, this information will not be retained without requesting your permission to do so.

      EUAir ID is responsible for setting up a new log in experience available in all digital touchpoint (websites, APPs, later IFE... will be later associated with a payment concept) and registration processes. Your information will be retained if you join EUAir ID and give us your permissions. 


      If Government agencies or authorities ask us to collect or share personal data, we will do so only within the appropriate legal frameworks. We require our employees, suppliers and partners to maintain confidentiality and data secrecy in accordance with Article 5 of the German Federal Data Protection Act.

      All airlines are required by law to provide the US Customs and Border Protection with the flight and reservation details of every passenger entering the USA. This information is to be used exclusively for security purposes.
      </p>

      <h4 id = "Accessing-personal-data" class="page-header">Accessing Personal Data</h4>
      <p>
      If requested, EUAir will confirm whether we store personal data about you and what this data is. Despite our best efforts to ensure that this stored data is accurate and up-to-date, it may be incorrect. If it is, we will correct it upon request. You can update most of your personal details yourself at any time within your EUAir ID account. If changes occur to your personal details, please update your profile as soon as possible.
      </p>

      <br>
      <br>
      <br>

    </div>
    <div class = "col-md-3" role = "complementary">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
          <li>
            <a href="#terms-of-service">Terms of Service</a>
            <ul class="nav">
              <li><a href="#Cookies">Cookies</a></li>
              <li><a href="#Encryption">Encryption (SSL)</a></li>
              <li><a href="#Data-sharing-practice">Data Sharing Practice</a></li>
              <li><a href="#Data-Collection-and-Processing-Practices">Data Collection and Processing Practices</a></li>
              <li><a href="#Click-Behavior-Tracking">Click Behavior Tracking</a></li>
              <li><a href="#Email-Behavior-Tracking">Email Behavior Tracking</a></li>
              <li><a href="#Limitations-on-use-and-disclosure-of-personal-data">Limitations on Use and Disclosure of Personal Data</a></li>
              <li><a href="#Accessing-personal-data">Accessing Personal Data</a></li>

            </ul>
          </li>

        </ul>
        <a class="back-to-top" href="#top">
          Back to top
        </a>

        <a href="#" class="bs-docs-theme-toggle" role="button">
          Preview theme
        </a>
        
      </nav>
    </div>
  </div>

  
</div>


<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>

<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>





